<h2>Movie details</h2>
<hr>
<p>Title: {{theMovie.title}}</p>
<p>Description: {{theMovie.description}}</p>
<p>Image name: {{theMovie.imgName}}</p>
<img src="{{theMovie.imgPath}}" alt="{{theMovie.title}}">